include(`cssdefs.m4')

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: medium;
  NORMWEIGHT;

  border-top: 1em solid white;

  margin-top: PAGE_TOP_SKIP_EM()em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 800px;
  color: DARKGREY;
}

p {
  font-size: large;
}

/*ul#nav + p {
  margin-top: GOLDEN()em;
  padding-top: 2em;
}*/

h1 {
  margin: 0;
  padding: 0;
  font-size: medium;
  font-size: GOLDEN_FONT()em;
  DARKGREY;
  NORMWEIGHT;
  text-transform: uppercase;
  position: absolute;
  vertical-align: bottom;
  margin-top: NAME_NUDGE;
}

strong, b {
  BOLD;
  BLACK;
}

h2 {
  BOLD;
  BLACK;
  font-size: x-large;
  clear: none;
}
h3 {
  BOLD;
  BLACK;
  font-size: large;
}
.cv ul {
  font-size: medium;
}
/* For email address in CV */
h2 + h2 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding-top: 0;
}

a {
  HEAVY;
  color: GREEN;
  text-decoration: none;
}
a:visited {
  HEAVY;
  color: GREEN;
  text-decoration: none;
}
a:hover {
  HEAVY;
  color: GREY;
  text-decoration: none;
}

#nav {
  font-size: medium;
  clear: none;
  margin: 0;
  padding: 0;
  padding-bottom: 4em;
}
#nav li {
  font-size: medium;
  width: 7.5em;
  height: GOLDEN()em;
  background: GREEN;
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  padding-right: 0.25em;
}
#nav li + li {
  margin-right: 1em;
}
#nav li:hover {
  background: GREY;
}
#nav li a {
  width: 7.5em;
  display: block;
  text-align: right;
  line-height: 3.87em;
  font-size: medium;
  color: white;
  NORMWEIGHT;
}
#nav li a:hover {
  text-decoration: none;
}
#nav li a:visited {
  text-decoration: none;
  color: white;
}

#nav li.current {
  background: GREY;
}

#bttm {
  font-size: medium;
  padding: 0;
  margin: 0;
  width: 800px;
  height: 0;
  clear: both;
  border-left: none; border-right: none;
  border-top: 2em solid white;
  border-bottom: 1px solid LIGHT_GREY;
}

#contact {
  font-size: small;
}
#contact div {
  padding-top: 0.5em;
  padding-bottom: 2em;
  color: GREY;
}
#contact div:first-child {
  float: left;
}
#contact div:first-child + div {
  float: right;
}
#contact div a {
  HEAVY;
}

.mainimage {
  display: block;
  float: left;
  width: 250px;
  height: 250px;
  background: white;
  margin-bottom: 2em;
  margin-top: 1em;
}
.mainimage + .mainimage {
  margin-left: 25px;
}
.mainimage div {
  position: relative;
  top: 250px;
  font-size: small;
  padding-top: 0.25em;
  padding-right: 10px;
  text-align: right;
  background: white;
  color: GREEN;
}

.mainimage + p {
  clear: both;
}
.mainimage + h2 {
  clear: both;
}
.mainimage + h3 {
  clear: both;
}

#alexdave {
  background-image: url('alexdave.jpg');
}
#ibex {
  background-image: url('ibex.jpg');
}
#uncartesian {
  background-image: url('uncartesian.jpg');
}

.cv {
  position: relative;
}
.cv ul {
  padding-left: 0;
  margin-left: 0;
  position: relative;
}
.cv ul li {
  margin-left: 8em;
  margin-bottom: 1em;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
.cv ul li.year {
  float: left;
  position: relative;
  margin-bottom: 0;
  color: GREEN;
  margin-left: 0;
  background: none;
  width: 2.75em;
  text-align: left;
  font-size: medium;
  vertical-align: middle;
}
.cv ul li.range {
  width: 5.2em;
  left: 0;
}
.cv ul li.noyear {
  background: none;
}

.cv ul + h3 {
  margin-top: 2em;
}
